<div class="container">
<div class="lead ">
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://rumorscity.com/wp-content/uploads/line-sticker/0/0/8/718/main.png">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">mazoonbanu@rocketmail.com</h4>
    gjgxasgaduygxduagsudxgausgxduagudgeudfgwegfawfgiwfioweyh
    kdgudgkudgwueygdfkwegufcgweufgcwuigcfisghcfiweicfgicfgidg
    qdbkegfldwaeifgewfgailwecfgwebfigivgifhcigfgfgidsufgiwegf
    eihfcoasdhofhjdocfhdsoi;hovhoisevjhoisjhfoirsdjhvogfrjorf.
  </div>
</div>
</div>



<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
<div>
<button type="button"  class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal">submit your answer</button>
</div>


<%= render 'home/answer_form' %>


<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://rumorscity.com/wp-content/uploads/line-sticker/0/0/8/718/main.png">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">mazoonbanu@rocketmail.com</h4>
    gjgxasgaduygxduagsudxgausgxduagudgeudfgwegfawfgiwfioweyh
    kdgudgkudgwueygdfkwegufcgweufgcwuigcfisghcfiweicfgicfgidg
    qdbkegfldwaeifgewfgailwecfgwebfigivgifhcigfgfgidsufgiwegf
    eihfcoasdhofhjdocfhdsoi;hovhoisevjhoisjhfoirsdjhvogfrjorf.
  </div>
</div>







<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://rumorscity.com/wp-content/uploads/line-sticker/0/0/8/718/main.png">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">mazoonbanu@rocketmail.com</h4>
    gjgxasgaduygxduagsudxgausgxduagudgeudfgwegfawfgiwfioweyh
    kdgudgkudgwueygdfkwegufcgweufgcwuigcfisghcfiweicfgicfgidg
    qdbkegfldwaeifgewfgailwecfgwebfigivgifhcigfgfgidsufgiwegf
    eihfcoasdhofhjdocfhdsoi;hovhoisevjhoisjhfoirsdjhvogfrjorf.
  </div>
</div>





<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://rumorscity.com/wp-content/uploads/line-sticker/0/0/8/718/main.png">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">mazoonbanu@rocketmail.com</h4>
    gjgxasgaduygxduagsudxgausgxduagudgeudfgwegfawfgiwfioweyh
    kdgudgkudgwueygdfkwegufcgweufgcwuigcfisghcfiweicfgicfgidg
    qdbkegfldwaeifgewfgailwecfgwebfigivgifhcigfgfgidsufgiwegf
    eihfcoasdhofhjdocfhdsoi;hovhoisevjhoisjhfoirsdjhvogfrjorf.
  </div>
</div>

</div>
</div>